<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head id="Head2">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
    返利编辑
</title>
    <link href="../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
    th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
    th:href="@{/resource/3rdParty/css/admin.content.css}" />
    <link href="../resource/3rdParty/css/admin.mall.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.mall.css}"/>
    <script src="../resource/3rdParty/js/jquery-1.7.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
    <script src="../resource/js/jquery.serializejson.min.js"
            th:src="@{/resource/js/jquery.serializejson.min.js}"></script>
    <script src="../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <script src="../resource/3rdParty/js/admin.js"
        th:src="@{/resource/3rdParty/js/admin.js}"></script>

    <link href="../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <script type="text/javascript" src="../resource/layer/layer.js"
            th:src="@{/resource/layer/layer.js}"></script>
    <link rel="stylesheet" type="text/css" href="../resource/layer/skin/layer.css"
          th:href="@{/resource/layer/skin/layer.css}"/>
    <link rel="stylesheet" type="text/css" href="../resource/layer/skin/layer.ext.css"
          th:href="@{/resource/layer/skin/layer.ext.css}"/>


    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var tp=/*[[${type}]]*/0;
        function saveConfig() {
            setTimeout(function () {
                layerRebateConfigControl.getConfigResult(function (cfgstr) {
                    var load=layer.load(0, {shade: false});
                    $.ajax({
                        type: "POST",
//                        dataType: 'json',
//                        contentType:"application/json",
//                        data: JSON.stringify(cfgstr),
                        data:{sisLevelAwardStr:JSON.stringify(cfgstr),type:tp},

                        url: "saveLevelAwardConfig",
                        success: function (result) {
                            layer.close(load);
                            layer.msg(result.message);
                        }
                    });
                });
            }, 350);
        }
        /*]]>*/
    </script>
</head>
<body>
<div class="container">
    <div class="blank10">
    </div>
    <div class="block">
        <div class="h">
            <span class="icon-sprite icon-list"></span>
            <h3>店中店返利设置</h3>
            <div class="bar">
            </div>
        </div>
        <div class="cnt-wp">
            <div class="cnt form">
                <div class="division">

                    <script type="text/javascript" th:inline="javascript">
                        /*<![CDATA[*/
                        $(function () {
                            $('.OnlyFloat').OnlyFloat();
                        });

                        //------数据格式--------
                        var __layerConfigData =/*[[${cfgs}]]*/[];
//                        var __layerConfigData = [{"idx":0,"unified":5000.0,"custom":[]},{"idx":1,"unified":-1.0,"custom":[{"lvid":137,"val":100.0},{"lvid":372,"val":0.0},{"lvid":374,"val":0.0},{"lvid":376,"val":0.0},{"lvid":378,"val":0.0},{"lvid":379,"val":0.0},{"lvid":380,"val":100.0}]},{"idx":2,"unified":500.0,"custom":[]},{"idx":3,"unified":600.0,"custom":[]},{"idx":4,"unified":700.0,"custom":[]},{"idx":5,"unified":800.0,"custom":[]},{"idx":6,"unified":90.0,"custom":[]},{"idx":7,"unified":10.0,"custom":[]},{"idx":8,"unified":11.0,"custom":[]}];
                        var __curLayerIndex = 0;
                        var layerRebateConfigControl = {};//层级返利配置控件
                        layerRebateConfigControl._data = [];
                        layerRebateConfigControl.init = function () {//初始化
                            this.initCustomConfigResult();
                            this.render();
                            $('input[name="raTest0"]').removeAttr('checked').first().attr('checked','checked');
                        };
                        layerRebateConfigControl.testRebate=function(totalRebate,callback){
                            this.getConfigResult(function(cfgResult){
                                var arrLevelIds = [];
                                $('.raTest').each(function(){
                                    if(this.checked){
                                        arrLevelIds.push(this.value);
                                    }
                                });

                                $.ajax({
                                    type: "POST",
                                    url:"",
                                    data:{cfg:cfgResult,levels:arrLevelIds.join(','),amtrebate:totalRebate},// 要提交的表单
                                    success: function(result) {
                                        callback(result);
                                    },
                                    error:function(e){
                                        layer.msg("错误");
                                    }
                                });
                            });
                        };
                        layerRebateConfigControl.getConfigResult = function (callback) {//将序列化转换为对象
                            var _data = $('#frmRebateConfig').serialize();
                            var sisLevelOpenAward=serializeToObj(_data);

                            //如果是直推奖则判断总比例是否超过100%
                            var type =/*[[${type}]]*/[];
                            if(type==1){
                                var openSisAwards=sisLevelOpenAward.cfg;
                                var sum=0;
                                for(var i=0;i<openSisAwards.length;i++){
                                    sum+=parseFloat(openSisAwards[i].unified);
                                }
                                if(sum>100){
                                    layer.msg("总数超过100");
                                    return;
                                }
                            }


                            callback(sisLevelOpenAward);
                        };
                        layerRebateConfigControl.initCustomConfigResult = function(){
                            //从url上获取key
                            var key = J.getQueryString('key','');
                            if(key!=''){
                                var cfg = parent.customRebateConfigControl.getConfig(key);
                                if(typeof(cfg)=='object'){
                                    __layerConfigData = cfg;
                                }
                            }
                        };
                        layerRebateConfigControl.render = function () {//渲染输出界面
                            this._data = __layerConfigData;
                            var layerNum=/*[[${layerNum}]]*/4;
                            $('#divLoading').show();
                            $('#tblLayer').hide();
                            for (var i = 0; this._data.length > i; i++) {
                                this.append(this._data[i]);
                            }
                            for (var i = 0; layerNum-this._data.length > i; i++) {//至少显示给定的层数
                                this.append(null);
                            }
                            setTimeout(function(){
                                $('#divLoading').hide();
                                $('#tblLayer').show();
                            },300);
                            __curLayerIndex = $('tr[name="trLayer"]').length;
                        };
                        layerRebateConfigControl.append = function (objRowConfig) {
                            var tmplRowLayer = $('#tmplRowLayer').html();
                            var temp = tmplRowLayer.replace(/\{LayerIndex\}/ig, __curLayerIndex);

                            temp = temp.replace(/\{LayerName\}/ig, __curLayerIndex == 0 ? '店主' : __curLayerIndex + '级上线店主');
                            $(temp).appendTo($('#tblLayer'));
                            this._setValue(objRowConfig);
                            __curLayerIndex++;
                            this._switchLayerControlButton();
                            //$("html,body").animate({scrollTop:$("#qy_name").offset().top},1000);
                        };
                        layerRebateConfigControl._setValue = function (objRowConfig) {//设置过的赋值
                            if (objRowConfig == null || typeof (objRowConfig) == 'undefined') {
                                return;
                            }
                            //dataformat->{"idx":1,"unified":-1.0,"custom":[{"lvid":79,"val":10.0},{"lvid":251,"val":10.0},{"lvid":253,"val":10.0},{"lvid":254,"val":10.0}]}
                            var _idx = objRowConfig.idx;
                            if (objRowConfig.unified >= 0) {//统一设置赋值
                                $('#raUnified' + _idx).attr('checked', 'checked');
                                this._switchConfigType(_idx, 0);
                                $('#txtUnified' + _idx).val(objRowConfig.unified);
                            } else {
                                $('#raCustom' + objRowConfig.idx).attr('checked', 'checked');
                                this._switchConfigType(_idx, 1);
                                for (var i = 0; objRowConfig.custom.length>i; i++) {//等级个性赋值
                                    $('#txtCustom_' + _idx + '_' + objRowConfig.custom[i].lvid).val(objRowConfig.custom[i].val);
                                }
                            }
                        };
                        layerRebateConfigControl.removeLast = function () {//移除最后层级
                            if (!confirm('确定移除？')) {
                                return false;
                            }
                            $('tr[name="trLayer"]:last').remove();
                            __curLayerIndex--;
                            this._switchLayerControlButton();
                        };
                        layerRebateConfigControl._switchConfigType = function (idx, val) {//统一/个性设置切换
                            if (val == '0') {//统一
                                $('#divUnified' + idx).show();
                                $('#divCustom' + idx).hide();
                            } else {
                                $('#divUnified' + idx).hide();
                                $('#divCustom' + idx).show();
                            }

                            if (idx == 0) {//自己购买需要显示普通会员等级
                                $('#tbNormalLevel' + idx).show();
                            } else {
                                $('#tbNormalLevel' + idx).hide();
                            }
                        };
                        layerRebateConfigControl._switchLayerControlButton = function () {//移除 追加层级按钮控制
                            $('div[name="divLayerAdd"]').hide().last().show();
                            if (2 >__curLayerIndex) {
                                $('span[name="btnLayerRemove"]').hide();
                            } else {
                                $('span[name="btnLayerRemove"]').show();
                            }

                            if (__curLayerIndex > 8) {
                                $('span[name="btnLayerAdd"]').hide();
                            } else {
                                $('span[name="btnLayerAdd"]').show();
                            }
                        }
                        $(function () {
                            layerRebateConfigControl.init();
                        });

                        function serializeToObj(str){
                            var sisLevelOpenAward=new Object();
                            var array=str.split('&');
                            sisLevelOpenAward.buysislvid=getVal(array[0]);
                            var onecurLayer=(array.length-1)/__curLayerIndex;
                            var openSisAwards=[];
                            for(var i=0;i<__curLayerIndex;i++){
                                var openSisAward=new Object();
                                var start=i*onecurLayer;
                                openSisAward.idx=getVal(array[start+1]);
                                if(getVal(array[start+2])==0){//统一值
                                    openSisAward.unified=getVal(array[start+3]);
                                    openSisAward.custom=[];
                                }else {//个性化
                                    var levelSize=(onecurLayer-3)/2;
                                    var levelIdAndVals=[];
                                    for(var j=0;j<levelSize;j++){
                                        var val=getVal(array[start+3+j*2+1]);//等级值
                                        var lvid=getVal(array[start+3+j*2+2]);//等级ID
                                        var levelIdAndVal=new Object();
                                        levelIdAndVal.lvid=lvid;
                                        levelIdAndVal.val=val;
                                        levelIdAndVals[j]=levelIdAndVal;
                                    }
                                    openSisAward.unified=-1;
                                    openSisAward.custom=levelIdAndVals;
                                }
                                openSisAwards[i]=openSisAward;
                            }
                            sisLevelOpenAward.cfg=openSisAwards;
                            return sisLevelOpenAward;
                        }

                        function getVal(str){
                            var array=str.split('=');
                            return array[1];
                        }

                        /*]]>*/
                    </script>
                    <form id="frmRebateConfig">
                        <input type="hidden" th:value="${levelId}" name="levelId"/>
                        <div class="division" style="padding: 0px; border: 0px; margin: 4px 1px;">
                            <div style="text-align: center; margin-top: 160px;" id="divLoading">
                                <img src="/resource/3rdParty/loading/css/loading.gif" />
                            </div>
                            <table id="tblLayer" width="100%" border="0" cellpadding="0" cellspacing="0" style="display: none;">
                            </table>
                        </div>
                    </form>

                    <script type="text/tmpl" id="tmplRowLayer">
        <tr name="trLayer">
            <th style="vertical-align: middle;"><b>{LayerName}：</b>
            <input type="hidden" name="hidRowLayer" value="{LayerIndex}" />
            </th>
            <td style="vertical-align: middle; width: 200px;">
                <input type="radio" name="ra{LayerIndex}" onclick="layerRebateConfigControl._switchConfigType({LayerIndex},this.value);" id="raUnified{LayerIndex}" value="0" checked="checked" />
                <label for="raUnified{LayerIndex}" style="color:blue;">统一值</label>
                <input th:if="${individuality}" type="radio" name="ra{LayerIndex}" onclick="layerRebateConfigControl._switchConfigType({LayerIndex},this.value);" id="raCustom{LayerIndex}" value="1" />
                <label th:if="${individuality}" for="raCustom{LayerIndex}" style="color:#f96;">等级个性化</label>
            </td>
            <td style="border-right:0px;">
                <div id="divUnified{LayerIndex}" style="float: left;">
                    <input type="text" name="txtUnified{LayerIndex}" id="txtUnified{LayerIndex}"  class="input-code OnlyFloat" placeholder="统一值" value="0" th:text="${unit}" />
                </div>
                <div id="divCustom{LayerIndex}" style="display: none;float:left;">
                    <table>
                        <tbody id="tbNormalLevel{LayerIndex}" style="display:none;">

                       </tbody>
                        <tbody id="tbBuddyLevel{LayerIndex}">

                             <tr th:each="l:${sislevels}" th:if="${l.levelId}!=0">
                                <td th:text="${l.levelNo}">1</td>
                                 <td th:text="${l.levelTitle}">新晋店主</td>
                                 <td>
                                     <input th:id="'txtCustom_{LayerIndex}_'+${l.levelId}" type="text"
                                      name="txtCustomBuddy{LayerIndex}" class="input-code OnlyFloat" placeholder="" value="0" th:text="${unit}" />
                                     <input th:value="${l.levelId}" type="hidden" name="hidCustom_Buddy_{LayerIndex}" value="137" />
                                 </td>
                             </tr>



                        </tbody>
                    </table>

                </div>
            </td>

            <td style="vertical-align:bottom;align:right;width:160px;">
                <div name="divLayerAdd" style="display:none;">
                    <span th:if="${individuality}" name="btnLayerAdd" class="lnk sysiconBtn addorder" onclick="layerRebateConfigControl.append();">追加层级</span>
                    <span th:if="${individuality}" name="btnLayerRemove" class="lnk sysiconBtn addorder" style=" background: #E2E8EB url(../resource/images/sysicon.gif) no-repeat 2px -83px;" onclick="layerRebateConfigControl.removeLast();">移除层级</span>
                </div>
            </td>
        </tr>
</script>

                </div>
                <div style="text-align: center;">
                    <a class="btn-lit" href="javascript:saveConfig();"><span>保存</span></a>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        $('#raCustom0').hide();
        $('label[for="raCustom0"]').hide();
    });
</script>
</body>
</html>
