<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>店铺新增等级</title>
    <link href="../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../resource/css/settlements.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <!--<link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"-->
          <!--th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>-->
    <!--<script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"-->
            <!--th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>-->
    <link rel="stylesheet" type="text/css" href="../resource/css/settlements.css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../resource/layer/layer.js"
            th:src="@{/resource/layer/layer.js}"></script>
    <link rel="stylesheet" type="text/css" href="../resource/layer/skin/layer.css"
          th:href="@{/resource/layer/skin/layer.css}"/>
    <link rel="stylesheet" type="text/css" href="../resource/layer/skin/layer.ext.css"
          th:href="@{/resource/layer/skin/layer.ext.css}"/>
    <!--<script type="text/javascript" src="../../resource/3rdParty/js/admin.js"-->
            <!--th:src="@{/resource/3rdParty/js/admin.js}"></script>-->
    <!--<script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"-->
            <!--th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>-->
    <!--<script type="text/javascript" src="../../resource/js/ajaxfileupload.js"-->
            <!--th:src="@{/resource/js/ajaxfileupload.js}"></script>-->

</head>

<body onload="levelLoad()">
<form method="post" action="saveSisLevel" id="form1" th:object="${sisLevel}">
    <input type="hidden" name="id" th:value="*{id}" />
    <!--<input type="hidden" name="upgradeConditions" th:value="*{upgradeConditions}"/>-->
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
      <span class="icon-sprite icon-magnifier">
      </span>

                <h3 ><p color="red"  th:text="*{levelName}" ></p></h3>
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div id="makeTab" class="cnt om-tabs om-widget om-widget-content om-corner-all" style="width: auto; height: auto;">

                    <!-- 以下设置表单-->
                    <div class="om-tabs-panels om-widget-content om-corner-bottom">
                        <div class="om-widget om-panel">
                            <div id="tab0001" class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division"  >
                                    <div></div>
                                    <div></div>
                                    <table id="submitTable" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <th>店铺等级:</th>
                                            <td style="border-top: 1px solid #ddd;">
                                                <span id="sharezx"></span>
                                                <input readonly="readonly" th:value="*{levelNo}" maxlength="13" style="width:170px" name="levelNo" type="text" id="title1"
                                                       class="input-normal" placeholder=""/></td>

                                        </tr>
                                        <!--<tr>-->
                                            <!--<th>团队店铺数量:</th>-->
                                            <!--<td style="border-top: 1px solid #ddd;">-->
                                                <!--<span id="sharezx132"></span>-->
                                                <!--<input maxlength="13" style="width:170px" name="amount1" type="text"-->
                                                       <!--id="title222"  class="input-normal" placeholder=""/></td>-->

                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<th>直推店铺数量:</th>-->
                                            <!--<td style="border-top: 1px solid #ddd;">-->
                                                <!--<span id="sharezx2"></span>-->
                                                <!--<input th:value="*{upShopNum}" maxlength="13" style="width:170px" name="upShopNum" type="text"-->
                                                       <!--id="title3"  class="input-normal" placeholder=""/></td>-->

                                        <!--</tr>-->

                                        <tr>
                                            <th>升级条件:</th>

                                            <td style="border-top: 1px solid #ddd;">
                                                <div id="conditions">
                                                    <div th:each="c:${conditions}">
                                                        <select th:if="${c.relation!=-1}" name="relation_symbol" width="30" style="width:50px">
                                                            <option value="0" th:selected="${c.relation==0}">或</option>
                                                            <option value="1" th:selected="${c.relation==1}">且</option>
                                                        </select>
                                                        <br th:if="${c.relation!=-1}"/>

                                                        <select name="level_id" th:width="30" style="width:170px">
                                                            <option  th:each="l:${sisLvs}" th:value="${l.levelId}" th:text="${l.levelTitle}" th:selected="${c.levelId==l.levelId}">一级店铺</option>
                                                            <!--<option value="1" th:selected="">二级店铺</option>-->
                                                        </select>
                                                        <input th:value="${c.num}" maxlength="13" style="width:170px" name="num" type="text"
                                                               id=""  class="input-normal" placeholder=""/><label>人</label>
                                                    </div>

                                                </div>
                                                <a href="javascript:delCondition()">删除条件</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a href="javascript:addCondition()">添加条件</a>
                                            </td>






                                        </tr>


                                        <tr>
                                            <th>等级别名:</th>
                                            <td style="border-top: 1px solid #ddd;">
                                                <span id="sharezx3"></span>
                                                <input th:value="*{levelName}" maxlength="13" style="width:170px" name="levelName" type="text"
                                                       id="title"  class="input-normal" placeholder=""/></td>

                                        </tr>
                                        <tr>
                                            <th>直推比例:</th>
                                            <td style="border-top: 1px solid #ddd;">
                                                <span id="sharezx32"></span>
                                                <input th:value="*{rebateRate}" maxlength="13" style="width:170px" name="rebateRate" type="text"
                                                       id="title2"  class="input-normal" placeholder=""/>%</td>

                                        </tr>
                                        <tr>
                                            <th>是否允许补差价:</th>
                                            <td style="border-top: 1px solid #ddd;">
                                                <span id="sharezx32"></span>
                                                <!--<input maxlength="13" style="width:170px" name="extraUpgrade" type="text"-->
                                                <!--id="title2"  class="input-normal" placeholder=""/>-->
                                                <select name="extraUpgrade" th:width="30" style="width:170px">
                                                    <option value="0" th:selected="*{extraUpgrade}==0">否</option>
                                                    <option value="1" th:selected="*{extraUpgrade}==1">是</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <p style="clean:both;"></p>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div style="text-align: center; margin-top:12px" >
                    <a class="btn-lit"   href="javascript:submitForm1();">
        <span>
        保存
        </span>
                    </a>
                </div>
                <!--按钮结束-->
            </div>
        </div>
    </div>
</form>

<div class="blank10"></div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var levels=/*[[${sisLvs}]]*/ '';

    function levelLoad(){
        var divs=$("#conditions").find("div");
        if(divs.length==0){
            addCondition();
        }
    }

    function getLevelsOption(){
        var levelsOption;
        var levelNo=parseInt($("input[name='levelNo']").val());
        for(var i= 0,size=levels.length;i<size;i++){
            var lv=levels[i];
            var option='<option value="'+lv.levelId+'">'+lv.levelTitle+'</option>';
            levelsOption+=option;

        }
        return levelsOption;
    }

    function getRelationOption(){
        var select='<select  name="relation_symbol" width="30" style="width:50px"> ' +
        '<option value="0">或</option> ' +
        '<option value="1">且</option> ' +
        '</select> <br/> ';
        return select;
    }

    function submitForm1() {


        var rex=/^[0-9]*$/;
        var rebate=$("#division").val();

        var level=$("input[name='levelNo']").val();

        if (level.length == 0) {
            layer.msg("请输入店铺等级");
            return;
        }

//        var amount1=$("input[name='amount1']").val();
//        if (amount1.length == 0) {
////            $.jBox.tip("请输入正确的团队店铺数量");
//            layer.msg("请输入正确的团队店铺数量");
//            return;
//        }
//
//        var upShopNum=$("input[name='upShopNum']").val();
//        if (upShopNum.length == 0) {
//            layer.msg("请输入直推店铺数量");
//            return;
//        }
        var flag=true;
        var conditions=[];
        $("#conditions div").each(function (k,v) {
            var n=$(v).find("input").val();
            if(!rex.test(n)||!rex.test(n)||n.length==0){
                flag= false;
            }
            var relation_symbol=$(v).find("select[name='relation_symbol']").find("option:selected").val();
            if(relation_symbol==undefined){
                relation_symbol=-1;
            }
            var sislvid=$(v).find("select[name='level_id']").find("option:selected").val();
            var condition=new Object();
            condition.sislvid=parseInt(sislvid);
            condition.num=parseInt(n);
            condition.relation=parseInt(relation_symbol);
            conditions[k]=condition;
        });


        if(!flag){
            layer.msg("人数请输入数字或人数大于0");
            return;
        }


        var nickname=$("input[name='levelName']").val();
        if (nickname.length == 0) {
//            $.jBox.tip("请输入等级别名");
            layer.msg("请输入等级别名");
            return;
        }
        var rebate=$("input[name='rebateRate']").val();
        if (rebate.length == 0) {
            layer.msg("请输入直推比例");
            return;
        }

//        if(!rex.test(amount1)||!rex.test(amount1)||amount1.length==0){
//            $.jBox.tip("团队店铺数量请输入数字！");
//            return;
//        }


//        if(!rex.test(level)||!rex.test(level)||level.length==0){
//            $.jBox.tip("店铺等级请输入数字！");
//            return;
//        }


//        $("input[name='upgradeConditions']").val(JSON.stringify(conditions));

        var newSisLevel=new Object();
        newSisLevel.upgradeConditions=conditions;
        newSisLevel.id=$("input[name='id']").val();
        newSisLevel.levelName=nickname;
        newSisLevel.levelNo=level;
        newSisLevel.rebateRate=rebate;
        newSisLevel.extraUpgrade=$("select[name='extraUpgrade']").find("option:selected").val();

        layer.confirm('即将保存内容，确定继续吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){

            $.ajax({
                type: "POST",
                dataType: 'json',
                url: "saveSisLevel",
                contentType:"application/json",
                data: JSON.stringify(newSisLevel),
                success: function (result) {
                    if(result!=undefined){
                        layer.msg(result.message);
                    }


//                    layer.close(pushSave);
//                var _result = $.parseJSON(result);
//                    if (result.code == 200) {
//                    jBox.tip('保存成功', 'success');
//                        layer.msg("保存成功", {icon: 1});
//                        return;
//                    }
//                    layer.msg("保存错误", {icon: 2});
//                jBox.tip('保存错误:' + _result.msg, 'error');
                }
            });


//            $("#form1").submit();

        }, function(){
        });
    }

    function addCondition(){
        var divs=$("#conditions").find("div");
        if(divs.length>=levels.length){
            return;
        }
        var relationOption="";
        if(divs.length>0){
            relationOption=getRelationOption();
        }

        var levelsOption=getLevelsOption();

        var div='<div> ' +
                        relationOption
                     +
                    '<select name="level_id" width="30" style="width:170px"> ' +
                        levelsOption +
                    '</select> ' +
                    '<input  maxlength="13" style="width:170px" name="num" type="text"id="" ' +
                '        class="input-normal" placeholder=""/><label>人</label> ' +
                '</div>';
        $("#conditions").append(div);

    }

    function delCondition(){
        var divs=$("#conditions").find("div");
        if(divs.length<=1){
            return;
        }
        divs.last().remove();

    }
    /*]]>*/
</script>
<!--<script charset="utf-8" src="richText/kindeditor-min.js" th:src="@{/richText/kindeditor-min.js}"></script>-->
<!--<script charset="utf-8" src="richText/lang/zh_CN.js" th:src="@{/richText/lang/zh_CN.js}"></script>-->
<!--<script charset="utf-8" src="richText/init.js" th:src="@{/richText/init.js}"></script>-->
</body>
</html>
