<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <!--<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>-->
    <link rel="stylesheet" type="text/css" href="css/common.css"/>
    <link rel="stylesheet" type="text/css" href="css/fksc.css"/>
    <link rel="stylesheet" type="text/css" href="weui/css/weui.min.css"/>
    <link rel="stylesheet" type="text/css" href="weui/css/jquery-weui.css"/>
    <script src="js/TouchSlide.1.1.js"></script>
    <title>商品详情</title>
</head>

<body>
<div class="commfont fk " th:object="${good}">
    <!--<input type="hidden" name="goodsId" id="goodsId" th:value="*{goodsId}"/>-->

    <div>
        <div>
            <img th:src="@{*{smallPic.value}}" src="images/g1.png"  width="100%"/>
            <p style="clear:both"></p>
        </div>

    </div>
    <div class="sp">
        <div>
            <div class="sp_bt">
                <a th:text="*{title}">
                商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情商品详情
                </a>
            </div>
            <p>
                <span class="sp_hz">
                    价格
                </span>
                <span class="sp_hongz">
                    ¥<i th:text="*{price}" style="font-size:24px;">110</i>
                    <!--¥<a th:text="*{price}">0.00</a>-->
                </span>
            </p>

            <p>
                <span class="sp_hz">
                    剩余
                </span>
                <span class="sp_hongzz" th:text="0>*{stock}?0+'件':*{stock}+'件'">
                    <!--<a th:text="0>*{stock}?0+'件':*{stock}+'件'">件</a>-->
                 </span>
            </p>

            <p style="clear:both; height:10px">
            </p>
        </div>
    </div>
    <p class="lq_tit">
        商品详情
    </p>
    <div class="lq_img_p">
        <div class="p10_lq" id="goodsDesc" th:utext="${goodsDesc}">
        </div>
        <!--<div class="p10_lq">-->
            <!--&lt;!&ndash;<img src="images/g1.png" / width="100%">&ndash;&gt;-->

        <!--</div>-->
        <!--<div id="deta" class="p10_lq">-->

        <!--</div>-->
    </div>


    <button onclick="submit()" class="button-a" type="button">立即购买</button>
</div>

</body>
<script src="weui/js/jquery-2.1.4.js"></script>
<script src="weui/js/jquery-weui.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    TouchSlide({
        slideCell:"#s_focus",
        titCell:".s_hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell:".s_bd ul",
        effect:"leftLoop",
        pnLoop:true,
        autoPlay:true,//自动播放
        autoPage:true //自动分页
    });


    function submit(){
        var url=/*[[${goodsUrl}]]*/ '';
        $.showLoading("跳转中...");
        window.location.href=url;
    }

    /*]]>*/
</script>

</html>

